<configuration>

	<property name="log.base" value="/appserver/logs/myboot" />
	<property name="app.name" value="myboot" />
	<property name="pattern"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{sessionId}] %-5level [%thread] %logger{80} :%msg%n" />

	<!-- 控制台输出 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<!--root -->
	<appender name="root"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}/${app.name}-root.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}/%d{yyyy-MM-dd}/${app.name}-root-%i.%d{yyyy-MM-dd}.log.gz
			</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>30MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<!--错误日志输出 -->
	<appender name="errors"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<file>${log.base}/${app.name}-errors.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}/%d{yyyy-MM-dd}/${app.name}-errors-%i.%d{yyyy-MM-dd}.log.gz
			</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>30MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<!-- 接口模块,的请求和响应信息 -->
	<appender name="interface"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}/${app.name}-interface.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}/%d{yyyy-MM-dd}/${app.name}-interface-%i.%d{yyyy-MM-dd}.log.gz
			</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>30MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<!-- 业务模块,业务处理所有信息,以及调用外部 -->
	<appender name="app"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}/${app.name}-app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}/%d{yyyy-MM-dd}/${app.name}-app-%i.%d{yyyy-MM-dd}.log.gz
			</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>30MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<appender name="catalina"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}/catalina.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}/%d{yyyy-MM-dd}/catalina-%i.%d{yyyy-MM-dd}.log.gz
			</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>30MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<!-- 日志过滤 -->
	<logger name="org.springframework">
		<level value="info" />
	</logger>
	<logger name="org.apache">
		<level value="info" />
	</logger>

	<logger name="org.apache.catalina" additivity="false">
		<level value="info" />
		<appender-ref ref="catalina" />
	</logger>
	<logger name="org.apache.coyote" additivity="false">
		<level value="info" />
		<appender-ref ref="catalina" />
	</logger>
	<!-- mybatis打印日志 -->
	<logger name="org.apache.ibatis" additivity="false">
		<level value="debug" />
		<appender-ref ref="stdout" />
	</logger>
 	<logger name="org.mybatis" additivity="false">
		<level value="debug" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="druid.sql" additivity="false">
		<level value="debug" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.create.entity" additivity="false">
		<level value="debug" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="io.netty.handler.logging.LoggingHandler" additivity="false">
		<level value="debug" />
		<appender-ref ref="stdout"/>
	</logger>
	
	<!-- root级别控制 -->
	<root level="debug">
		<appender-ref ref="root" />
		<appender-ref ref="stdout" />
	</root>

</configuration>
